body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.background-blur {
    img {
        width: 100vw;
        height: 150vh;
        filter: contrast(85%);

    }
}

.container {
    position: absolute;
    top: 0;
    @include flex(row);
    margin-left: 8.75rem;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}
.main-container {
    @include flex(row);
}
