.main-card {
    background-color: $white;
    width: 70vw;
    border-radius: 3.125rem;
    padding: 0.3125rem;
    padding-bottom: 2.5rem;
    .card-title-section {
        @include flex-jc-ai(row , space-between ,center);
        border-bottom: 0.125rem solid rgba(0, 0, 0, 0.151);
        .card-brand {
            padding: 1.25rem;
            i {
                display: inline;
            }
            h3 {
                display: inline;
                padding-left: 0.625rem;
            }
        }
        .period-nav {
            ul {
                @include flex-jc-ai(row , center ,center);
                padding-right: 3.125rem;
                .period-list {
                    width: 5.625rem;
                    border-bottom: 0.125rem solid transparent;
                    a {
                        padding: 1.375rem 1.25rem;
                        color: $textMuted;
                        &:hover {
                            border-bottom: 0.125rem solid $blue;
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
    .card-graph-container {
        padding: 1.25rem 0.625rem 0.625rem 1.25rem;
        position: relative;
        .card-graph {
            .graph-container {
                @include flex-jc-ai(row , start , center);
                &:first-child {
                    .hour-container {
                        margin-left: 3.125rem;
                        width: 25rem;
                        height: 2.5rem;
                        border-left: 0.3125rem solid $pink;
                        background-color: $pinkLite;
                        small {
                            color: $pink;
                            padding-left: 1.25rem;
                        }
                    }
                }
                &:nth-child(2) {
                    .vacation {
                        width: 12.5rem;
                        border-bottom: 0.125rem solid $thickBlue;
                        margin-top: -0.9375rem;
                        p {
                            font-size: 0.75rem;
                            color: $thickBlue;
                            width: 3.4375rem;
                            margin: auto;
                        }
                    }
                    .period-container {
                        @include flex-jc-ai(row , start , center);
                        margin-left: 8.4375rem;
                        .hour-container {
                            height: 2.5rem;
                            border-left: 0.3125rem solid $thickBlue;
                            background-color: $thickBlueLite;
                            &:nth-child(1) {
                                width: 15rem;
                            }
                            &:last-child {
                                width: 18.75rem;
                            }
                            small { 
                                color: $thickBlue;
                                padding-left: 1.25rem;
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    .hour-container {
                        margin-left: 15.625rem;
                        width: 28.125rem;
                        height: 2.5rem;
                        border-left: 0.3125rem solid $orange;
                        background-color: $orangeLite;
                        small {
                            color: $orange;
                            padding-left: 1.25rem;
                        }
                    }
                }
                &:nth-child(4) {
                    .hour-container {
                        margin-left: 20.9375rem;
                        width: 28.125rem;
                        height: 2.5rem;
                        border-left: 0.3125rem solid $green;
                        background-color: $greenLite;
                        small {
                            color: $green;
                            padding-left: 1.25rem;
                        }
                        .img-group {
                            img {
                                margin-left: -0.625rem;
                            }
                        }
                    }
                }
                &:nth-child(5) {
                    .hour-container {
                        margin-left: 26.5625rem;
                        width: 27.5rem;
                        height: 2.5rem;
                        border-left: 0.3125rem solid $skyBlue;
                        background-color: $skyBlueLite;
                        small {
                            color: $skyBlue;
                            padding-left: 1.25rem;
                        }
                        .img-group {
                            img {
                                margin-left: -0.625rem;
                            }
                        }
                    }
                }
                h6 {
                    padding: 1.875rem;
                }
                .hour-container {
                    @include flex-jc-ai(row , start , center);
                    border-radius: 0 0.625rem 0.625rem 0;
                    small {
                        display: block;
                        font-size: 0.625rem;
                    }
                    .img-group {
                        margin-left: auto;
                        margin-right: 0.625rem;
                        padding-top: 0.4375rem;
                        img {
                            width: 1.25rem;
                            border: 0.0625rem solid white;
                            border-radius: 3.125rem;
                            &:last-child {
                                margin-left: -0.625rem;
                            }
                        }
                    }
                }
            }
        }
        .graph-value {
            margin-left: 9.6875rem;
            padding-top: 1.875rem;
            span {
                font-size: $expraSmallText;
                color: $textMuted;
                padding: 0 2.1875rem;
                &:nth-child(1) {
                    padding-left: 0;
                    &::before {
                        content: '';
                        width: 0.3125rem;
                        height: 21.875rem;
                        border-left: 0.125rem dashed $textMuted;
                        display: block;
                        position: absolute;
                        top: 5rem;
                        left: 11.4375rem;
                    }
                }
                &:nth-child(2) {
                    &::before {
                        content: '';
                        width: 0.3125rem;
                        height: 16.875rem;
                        border-left: 0.125rem dashed $textMuted;
                        display: block;
                        position: absolute;
                        top: 10rem;
                        left: 17.5rem;
                    }
                }
                &:nth-child(3) {
                    &::before {
                        content: '';
                        width: 0.3125rem;
                        height: 200px;
                        border-left: 0.125rem dashed $textMuted;
                        display: block;
                        position: absolute;
                        top: 230px;
                        left: 382px;
                    }
                }
                &:nth-child(4) {
                    &::before {
                        content: '';
                        width: 0.3125rem;
                        height: 120px;
                        border-left: 0.125rem dashed $textMuted;
                        display: block;
                        position: absolute;
                        top: 310px;
                        left: 477px;
                    }
                }
                &:nth-child(5) {
                    &::before {
                        content: '';
                        width: 0.3125rem;
                        height: 45px;
                        border-left: 0.125rem dashed $textMuted;
                        display: block;
                        position: absolute;
                        top: 385px;
                        left: 580px;
                    }
                }
            }
        }
    }

    .multi-card-container {
        @include flex(row);
        width: 1000px;
        margin: 100px auto auto auto;
        .mini-card {
            box-shadow: 0.125rem 0.125rem 3.125rem rgba(0, 0, 0, 0.116);
            width: 300px;
            text-align: center;
            border-radius: 1.25rem;
            margin: 0 1.25rem;
            padding: 15px;
            &:first-child {
                .mini-card-progress {
                    .progress {
                        &::after {
                            content: '';
                            display: block;
                            border-radius: 1.25rem;
                            height: 0.3125rem;
                            width: 45%;
                            background-color: $green;
                        }
                    }
                }
                .mini-card-footer {
                    .time {
                        background-color: $pinkLite;
                        color: $pink;
                    }
                }
            }
            &:nth-child(2) {
                .mini-card-progress {
                    .progress {
                        &::after {
                            content: '';
                            display: block;
                            border-radius: 1.25rem;
                            height: 0.3125rem;
                            width: 100%;
                            background-color: $green;
                        }
                    }
                }
                .mini-card-footer {
                    .time {
                        background-color: $thickBlueLite;
                        color: $thickBlue;
                    }
                }
            }
            &:nth-child(3) {
                .mini-card-progress {
                    .progress {
                        &::after {
                            content: '';
                            display: block;
                            border-radius: 1.25rem;
                            height: 0.3125rem;
                            width: 75%;
                            background-color: $green;
                        }
                    }
                }
                .mini-card-footer {
                    .time {
                        background-color: $greenLite;
                        color: $green;
                    }
                }
            }
            .card-icon {
                font-size: 2.5rem;
                color: $white;
                margin-top: -2.5rem;
                i {
                    background-color: $blue;
                    padding: 15px;
                    border-radius: 15px;
                }
            }
            a {
                position: relative;
                top: -1.25rem;
                left: 120px;
                color: $textMuted;
            }
            .mini-card-title {
                h3 {
                    font-size: $text;
                }
                small {
                    font-size: $expraSmallText;
                    color: $textMuted;
                }
            }
            .mini-card-avator {
                margin: 0.625rem 0;
                img {
                    width: 1.25rem;
                    margin-left: -0.625rem;
                    &:last-child {
                        margin-left: -0.625rem;
                    }
                }
            }
            .mini-card-progress {
                .card-progress {
                    @include flex-jc-ai(row , space-between , center);
                    h5 {}
                }
                .progress {
                    width: 100%;
                    height: 0.3125rem;
                    background-color: rgba(0, 0, 0, 0.26);
                    margin: 0.625rem 0;
                    border-radius: 0.625rem;
                }
            }
            .mini-card-footer {
                @include flex(row);
                padding: 0.625rem 0;
                &:first-child {
                    .time {
                        
                    }
                }
                .card-like {
                    color: $textMuted;
                }
                .card-comment {
                    color: $textMuted;
                    padding: 0 0.625rem;
                }
                .time {
                    margin-left: auto;
                    font-size: $smallText;
                    font-weight: bold;
                    padding: 0.3125rem 0.625rem;
                    border-radius: 1.25rem;
                }
            }
        }
    }
}

