.main-side-section {
    width: 20vw;
    padding: 20px;
    .active-list {
        &-title {
            border-bottom: 1px solid rgba(0, 0, 0, 0.267);
            padding-bottom: 20px;
            h2 {}
            small {
                font-size: $expraSmallText;
                color: $textMuted;
            }
        }
        &-body {
            padding: 10px;
            .active-list-profile {
                @include flex(row);
                padding: 10px 0;
                img {
                    width: 45px;
                    height: 45px;
                }
                .list-profile-title {
                    padding-left: 10px;
                    h5 {}
                    small {
                        display: block;
                        font-size: $expraSmallText;
                    }
                    time {
                        font-size: $expraSmallText;
                        color: $textMuted;
                    }
                }
            }
        }
    }
    .update-cards {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 20px;
        margin-top: 20px;
        .update-card {
            background-color: $white;
            text-align: center;
            padding: 10px;
            border-radius: 20px;
            &:hover {
                background-color: $blue;
                color: $white;
            }
            small {
                font-size: $expraSmallText;
                color: $textMuted;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}