.sidebar {
    width: 8vw;
    text-align: center;
    &-nav {
        margin-top: 60px;
        ul {
            .nav-item {
                padding: 20px 0;
                .nav-link {
                    color: $textMuted;
                    font-size: 25px;
                    padding: 15px;
                    border-radius: 50%;
                    &:hover {
                        background-color: $blue;
                        color: white;
                    }
                }
            }
        }
    }
}
