.title-bar {
    @include flex-jc-ai(row , center , flex-start);
    width: 90vw;
    padding: 10px 0;
    margin-bottom: 20px;
    &-title {
        padding-top: 10px;
        padding-left: 20px;
    }
    &-form {
        margin-left: auto;
        padding-top: 10px;
        .search {
            padding: 7px 10px;
            border: 1px solid rgba(0, 0, 0, 0.582);
            border-radius: 20px;
            width: 200px;
            outline: none;
        }
        button {
            border: none;
            background-color: transparent;
            font-size: 20px;
            color: $textMuted;
            margin: 0 10px;
            &:hover {
                color: black;
            }
        }
    }
    &-notification {
        padding-top: 10px;
        .notification-icon {
            border-right: 2px solid rgba(0, 0, 0, 0.582);
            button {
                border: none;
                background-color: transparent;
                font-size: 22px;
                color: $textMuted;
                margin: 0 10px;
                &:hover {
                    color: black;
                }
            }
        }
        .notification-dropdown {
            display: none;
            width: 300px;
            z-index: 10;
            position: absolute;
            top: 70px;
            right: 180px;
            background-color: $white;
            padding: 20px 0;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
            ul {
                .notification-list {
                    padding: 5px 20px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.555);
                    &:first-child {
                        &::before {
                            content: '';
                            display: block;
                            width: 0;
                            height: 0;
                            z-index: 10;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 20px solid white;
                            position: relative;
                            left: 245px;
                            bottom: 35px;
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.048);
                    }
                    i {
                        display: inline;
                    }
                    h4 {
                        display: inline;
                    }
                    p {
                        font-size: $expraSmallText;
                    }
                }
            }
        }
    }
    &-profile {
        padding: 0 10px;
        .avator-profile {
            @include flex-jc-ai(row , center , center);
            img {
                width: 3vw;
                margin: 0 10px;
            }
            h5 {
                margin: 0 5px;
            }
            button {
                border: none;
                background-color: transparent;
                font-size: 17px;
                color: $textMuted;
                margin: 0 10px;
                &:hover {
                    color: black;
                }
            }
        }
        .profile-dropdown {
            display: none;
            text-align: left;
            background-color: white;
            width: 110px;
            position: absolute;
            right: 5px;
            z-index: 10;
            border-radius: 5px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
            ul {
                .profile-list {
                    &:first-child {
                        &::before {
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-bottom: 10px solid white;
                            position: relative;
                            bottom: 33px;
                            left: 85px;
                        }
                    }
                    a {
                        @include flex-jc-ai(row , center , center);
                        padding: 10px 0;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.137);
                        padding-right: 20px;
                        color: $black;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.048);
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        i {
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}
