// colors
$white: white;
$black: black;
$textMuted: rgba(0, 0, 0, 0.521);
$pink: #ff5d8f;
$pinkLite: #ff5d904f;
$thickBlue: #072ac8;
$thickBlueLite: #072ac849;
$orange: #f3722c;
$orangeLite: #f3722c62;
$green: #59b45f;
$greenLite: #7ae58156;
$skyBlue: #00b4d8;
$skyBlueLite: #00b4d846;
$violet: #815ac0;
$blue: #4361ee;
$redOrange: #f27059;

// font size
$expraSmallText: 12px;
$smallText: 13px;
$text: 17px;
$titleText: 20px;
$extraLarge: 23px;