* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.background-blur img {
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.container {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar {
  width: 8vw;
  text-align: center;
}

.sidebar-nav {
  margin-top: 60px;
}

.sidebar-nav ul .nav-item {
  padding: 20px 0;
}

.sidebar-nav ul .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.521);
  font-size: 25px;
  padding: 15px;
  border-radius: 50%;
}

.sidebar-nav ul .nav-item .nav-link:hover {
  background-color: #4361ee;
  color: white;
}

.title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90vw;
  padding: 10px 0;
}

.title-bar-title {
  padding-top: 10px;
  padding-left: 20px;
}

.title-bar-form {
  margin-left: auto;
  padding-top: 10px;
}

.title-bar-form .search {
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.582);
  border-radius: 20px;
  width: 200px;
}

.title-bar-form button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.521);
  margin: 0 10px;
}

.title-bar-form button:hover {
  color: black;
}

.title-bar-notification {
  padding-top: 10px;
}

.title-bar-notification .notification-icon {
  border-right: 2px solid rgba(0, 0, 0, 0.582);
}

.title-bar-notification .notification-icon button {
  border: none;
  background-color: transparent;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.521);
  margin: 0 10px;
}

.title-bar-notification .notification-icon button:hover {
  color: black;
}

.title-bar-notification .notification-dropdown {
  display: none;
  width: 300px;
  position: absolute;
  top: 70px;
  right: 180px;
  background-color: white;
  padding: 20px 0;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

.title-bar-notification .notification-dropdown ul .notification-list {
  padding: 5px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.555);
}

.title-bar-notification .notification-dropdown ul .notification-list:first-child::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  z-index: 10;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid white;
  position: relative;
  left: 245px;
  bottom: 35px;
}

.title-bar-notification .notification-dropdown ul .notification-list:last-child {
  border-bottom: none;
}

.title-bar-notification .notification-dropdown ul .notification-list:hover {
  background-color: rgba(0, 0, 0, 0.048);
}

.title-bar-notification .notification-dropdown ul .notification-list i {
  display: inline;
}

.title-bar-notification .notification-dropdown ul .notification-list h4 {
  display: inline;
}

.title-bar-notification .notification-dropdown ul .notification-list p {
  font-size: 12px;
}

.title-bar-profile {
  padding: 0 10px;
}

.title-bar-profile .avator-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-bar-profile .avator-profile img {
  width: 3vw;
  margin: 0 10px;
}

.title-bar-profile .avator-profile h5 {
  margin: 0 5px;
}

.title-bar-profile .avator-profile button {
  border: none;
  background-color: transparent;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.521);
  margin: 0 10px;
}

.title-bar-profile .avator-profile button:hover {
  color: black;
}

.title-bar-profile .profile-dropdown {
  display: none;
  text-align: left;
  background-color: white;
  width: 110px;
  position: absolute;
  right: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
}

.title-bar-profile .profile-dropdown ul .profile-list:first-child::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  position: relative;
  bottom: 33px;
  left: 85px;
}

.title-bar-profile .profile-dropdown ul .profile-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  padding-right: 20px;
  color: black;
}

.title-bar-profile .profile-dropdown ul .profile-list a:hover {
  background-color: rgba(0, 0, 0, 0.048);
}

.title-bar-profile .profile-dropdown ul .profile-list a:last-child {
  border-bottom: none;
}

.title-bar-profile .profile-dropdown ul .profile-list a i {
  padding: 0 10px;
}

.main-card {
  background-color: white;
}

.main-card .card-title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-card .card-title-section .card-brand i {
  display: inline;
}

.main-card .card-title-section .card-brand h3 {
  display: inline;
}

.main-card .card-title-section .period-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-card .card-title-section .period-nav ul .period-list a {
  color: black;
}
/*# sourceMappingURL=style.css.map */